</div>
</div>
<div class="hero-banner hero--size-down-challenge {% if handle contains 'little-black-dress'%}hero--lbd{% endif %}">
  <div class="hero-caption container">
  {% if page.title contains 'Little Black Dress' %}
    <img src="{{ 'lbd-logo.svg' | asset_url }}" class="hero-icon" />
    {% else %}
  <img src="{{ '28-day-icon.png' | asset_url }}" class="hero-icon" />
    {% endif %}
</div>
</div>
<div class="day-navigation">
  {% include 'day-navigation-bar' %}
</div>
<div class="content container">
  <div class="sixteen columns">
  <div class="day-card">
    <div class="card-content">
  <div class="product-details">
  {% for block in section.blocks %}
    <div {{ block.shopify_attributes }} id="block_{{block.id}}">
      
      {% if block.type == 'text_alternating' %}
<div class="container">
              <div class="sixteen columns">
          <div class="homepage_content clearfix ">
            
                <div class="section {{ block.settings.text_alignment }} clearfix">
                  {% if block.settings.image %}
                    <img  src="{{ block.settings.image.src | img_url: '100x' }}"
                          class="lazyload lazyload--fade-in"
                          alt="{{ block.settings.image.alt }}"
                          style="max-width: {{- block.settings.image.width -}}px;"
                          data-sizes="auto"
                          data-src="{{ block.settings.image | img_url: '2048x' }}"
                          data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                        {{ block.settings.image | img_url: '1600x' }} 1600w,
                                        {{ block.settings.image | img_url: '1200x' }} 1200w,
                                        {{ block.settings.image | img_url: '1000x' }} 1000w,
                                        {{ block.settings.image | img_url: '800x' }} 800w,
                                        {{ block.settings.image | img_url: '600x' }} 600w,
                                        {{ block.settings.image | img_url: '400x' }} 400w"
                          />
                  {% endif %}

                  {% if block.settings.title != blank %}
                    <h2 class="title">
                      {{ block.settings.title | escape }}
                    </h2>
                  {% endif %}

                  <div class="{{ block.settings.text_size }}">
                    {% if block.settings.content != blank %}
                                        <div class="{% if block.settings.width == '50%' %}eight columns alpha{% else %}{% endif %}">

                      {{ block.settings.content }}
                    </div>
                    {% endif %}
                    <div class="{% if block.settings.width == '50%' %}eight columns alpha{% else %}sixteen columns{% endif %}">
                    {% if block.settings.content_2 != blank %}
                      {{ block.settings.content_2 }}
                    {% endif %}
                    </div>

                    
                  </div>
                  {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                  <div class="sixteen columns">
                      <a class="action_button" href="{{ block.settings.button_link }}">
                        {{ block.settings.button_label | escape }}
                      </a>
                  </div>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>

      {% endif %}
      {% if block.type == 'rich_text_and_image' %}

          <div class="homepage_content clearfix">
            <div class="containers">
              <div class="sixteen columns">
                
                <div class="section {{ block.settings.text_alignment }} clearfix">
                  <div class="icon-step">
                  {% if block.settings.image %}
                    <img  src="{{ block.settings.image.src | img_url: '100x' }}"
                          class="lazyload lazyload--fade-in"
                          alt="{{ block.settings.image.alt }}"
                          style="max-width: {{- block.settings.image.width -}}px;"
                          data-sizes="auto"
                          data-src="{{ block.settings.image | img_url: '2048x' }}"
                          data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                        {{ block.settings.image | img_url: '1600x' }} 1600w,
                                        {{ block.settings.image | img_url: '1200x' }} 1200w,
                                        {{ block.settings.image | img_url: '1000x' }} 1000w,
                                        {{ block.settings.image | img_url: '800x' }} 800w,
                                        {{ block.settings.image | img_url: '600x' }} 600w,
                                        {{ block.settings.image | img_url: '400x' }} 400w"
                          />
                  {% endif %}
                  </div>
                  <div class="step-caption">
                  {% if block.settings.title != blank %}
                    <h2 class="title">
                      {{ block.settings.title }}
                    </h2>
                  {% endif %}

                  <div class="{{ block.settings.text_size }}">
                    {% if block.settings.content != blank %}
                      {{ block.settings.content }}
                    {% endif %}

                    {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                      <a href="{{ block.settings.button_link }}">
                        {{ block.settings.button_label | escape }}
                      </a>
                    {% endif %}
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      {% endif %}

      {% if block.type == 'image_gallery' %}

        <div class="container">
          <div class="sixteen columns">
           <div class="one-third column alpha thumbnail">
              {% if block.settings.page_detail_image_1 %}
                <a href="{{ block.settings.page_detail_image_1 | img_url: '1520x' }}" class="lightbox" rel="detail-gallery">
                  <img  src="{{ block.settings.page_detail_image_1.src | img_url: '100x' }}"
                        class="lazyload lazyload--fade-in"
                        alt="{{ block.settings.page_detail_image_1.alt }}"
                        style="max-width: {{- block.settings.page_detail_image_1.width -}}px;"
                        data-sizes="auto"
                        data-src="{{ block.settings.page_detail_image_1 | img_url: '2048x' }}"
                        data-srcset=" {{ block.settings.page_detail_image_1 | img_url: '2048x' }} 2048w,
                                      {{ block.settings.page_detail_image_1 | img_url: '1600x' }} 1600w,
                                      {{ block.settings.page_detail_image_1 | img_url: '1200x' }} 1200w,
                                      {{ block.settings.page_detail_image_1 | img_url: '1000x' }} 1000w,
                                      {{ block.settings.page_detail_image_1 | img_url: '800x' }} 800w,
                                      {{ block.settings.page_detail_image_1 | img_url: '600x' }} 600w,
                                      {{ block.settings.page_detail_image_1 | img_url: '400x' }} 400w"
                        />
                </a>
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
            <div class="one-third column thumbnail">
              {% if block.settings.page_detail_image_2 %}
                <a href="{{ block.settings.page_detail_image_2 | img_url: '1520x' }}" class="lightbox" rel="detail-gallery">
                  <img  src="{{ block.settings.page_detail_image_2.src | img_url: '100x' }}"
                        class="lazyload lazyload--fade-in"
                        alt="{{ block.settings.page_detail_image_2.alt }}"
                        style="max-width: {{- block.settings.page_detail_image_2.width -}}px;"
                        data-sizes="auto"
                        data-src="{{ block.settings.page_detail_image_2 | img_url: '2048x' }}"
                        data-srcset=" {{ block.settings.page_detail_image_2 | img_url: '2048x' }} 2048w,
                                      {{ block.settings.page_detail_image_2 | img_url: '1600x' }} 1600w,
                                      {{ block.settings.page_detail_image_2 | img_url: '1200x' }} 1200w,
                                      {{ block.settings.page_detail_image_2 | img_url: '1000x' }} 1000w,
                                      {{ block.settings.page_detail_image_2 | img_url: '800x' }} 800w,
                                      {{ block.settings.page_detail_image_2 | img_url: '600x' }} 600w,
                                      {{ block.settings.page_detail_image_2 | img_url: '400x' }} 400w"
                        />
                </a>
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
            <div class="one-third column omega thumbnail">
              {% if block.settings.page_detail_image_3 %}
                <a href="{{ block.settings.page_detail_image_3 | img_url: '1520x' }}" class="lightbox" rel="detail-gallery">
                  <img  src="{{ block.settings.page_detail_image_3.src | img_url: '100x' }}"
                        class="lazyload lazyload--fade-in"
                        alt="{{ block.settings.page_detail_image_3.alt }}"
                        style="max-width: {{- block.settings.page_detail_image_3.width -}}px;"
                        data-sizes="auto"
                        data-src="{{ block.settings.page_detail_image_3 | img_url: '2048x' }}"
                        data-srcset=" {{ block.settings.page_detail_image_3 | img_url: '2048x' }} 2048w,
                                      {{ block.settings.page_detail_image_3 | img_url: '1600x' }} 1600w,
                                      {{ block.settings.page_detail_image_3 | img_url: '1200x' }} 1200w,
                                      {{ block.settings.page_detail_image_3 | img_url: '1000x' }} 1000w,
                                      {{ block.settings.page_detail_image_3 | img_url: '800x' }} 800w,
                                      {{ block.settings.page_detail_image_3 | img_url: '600x' }} 600w,
                                      {{ block.settings.page_detail_image_3 | img_url: '400x' }} 400w"
                        />
                </a>
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
          </div>
        </div>

      {% endif %}

      {% if block.type == 'image_with_text' %}

        {% capture right_text %}
          <div class="featured_collections block__image-with-text clearfix grid-layout--{{block.settings.grid_layout}} {% if block.settings.grid_layout == 'standard' %} container {% endif %}">
            {% if block.settings.grid_layout == 'standard' %}<div class="sixteen columns">{% endif %}
              <section class="featured-link--section featured-link--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
                <div class="featured-link--half featured-link--image">
                  <div class="featured-link--wrap">
                    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title | escape }}">
                      {% if block.settings.image %}
                        <img  src="{{ block.settings.image | img_url: '100x' }}"
                              alt="{{ block.settings.image.alt | escape }}"
                              data-src="{{ block.settings.image | img_url: '2048x' }}"
                              class="lazyload lazyload--fade-in"
                              data-sizes="auto"
                              data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                            {{ block.settings.image | img_url: '1600x' }} 1600w,
                                            {{ block.settings.image | img_url: '1200x' }} 1200w,
                                            {{ block.settings.image | img_url: '1000x' }} 1000w,
                                            {{ block.settings.image | img_url: '800x' }} 800w,
                                            {{ block.settings.image | img_url: '600x' }} 600w,
                                            {{ block.settings.image | img_url: '400x' }} 400w"
                              />
                      {% else %}
                        {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                        {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                      {% endif %}
                    </a>
                  </div>
                </div>
                <div class="featured-link--half">
                  <div class="info text-align--{{block.settings.frontpage_text_align}}">
                    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                      {{ block.settings.title | escape }}
                    </a>
                    {% if block.settings.text != blank %}
                      <div class="description">{{ block.settings.text }}</div>
                    {% endif %}
                    {% if block.settings.button_label != blank %}
                      <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="action_button">
                        {{ block.settings.button_label | escape }}
                      </a>
                    {% endif %}
                  </div>
                </div>
              </section>
            {% if block.settings.grid_layout == 'standard' %}</div>{% endif %}
          </div>
        {% endcapture %}

        {% capture left_text %}
          <div class="featured_collections block__image-with-text clearfix grid-layout--{{block.settings.grid_layout}} {% if block.settings.grid_layout == 'standard' %} container {% endif %}">
            {% if block.settings.grid_layout == 'standard' %}<div class="sixteen columns">{% endif %}
            <section class="featured-link--section featured-link--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
              <div class="featured-link--half">
                <div class="info text-align--{{block.settings.frontpage_text_align}}">
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                    {{ block.settings.title | escape }}
                  </a>
                  {% if block.settings.text != blank %}
                    <div class="description">{{ block.settings.text }}</div>
                  {% endif %}
                  {% if block.settings.button_label != blank %}
                    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="action_button">
                      {{ block.settings.button_label | escape }}
                    </a>
                  {% endif %}
                </div>
              </div>
              <div class="featured-link--half featured-link--image">
                <div class="featured-link--wrap">
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title | escape }}">
                    {% if block.settings.image %}
                      <img  src="{{ block.settings.image | img_url: '100x' }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            data-src="{{ block.settings.image | img_url: '2048x' }}"
                            class="lazyload lazyload--fade-in"
                            data-sizes="auto"
                            data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                          {{ block.settings.image | img_url: '1600x' }} 1600w,
                                          {{ block.settings.image | img_url: '1200x' }} 1200w,
                                          {{ block.settings.image | img_url: '1000x' }} 1000w,
                                          {{ block.settings.image | img_url: '800x' }} 800w,
                                          {{ block.settings.image | img_url: '600x' }} 600w,
                                          {{ block.settings.image | img_url: '400x' }} 400w"
                             />
                    {% else %}
                      {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                      {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                    {% endif %}
                  </a>
                </div>
              </div>
            </section>
            {% if block.settings.grid_layout == 'standard' %}</div>{% endif %}
          </div>
        {% endcapture %}

        {% if block.settings.grid_text_position == 'right' %}
          {{ right_text }}
        {% else %}
          {{ left_text }}
        {% endif %}

      {% endif %}

      {% if block.type == 'divider' %}

        <div class="container" style="padding: 0; {% if block.settings.divider_mobile %}display: none;{% endif %}">
          <div class="sixteen columns">
            <hr class="page-divider {% if block.settings.divider_border %}active-divider{% endif %}" style="{% if block.settings.divider_spacing %}margin: {{ block.settings.divider_spacing }}px 0px;{% endif %}">
          </div>
        </div>

      {% endif %}

      {% if block.type == 'image_with_text_overlay' %}

        <section {% if block.settings.image_stretch == false %}class="container image_stretch--false"{% endif %}>
          {% if block.settings.image_stretch == false %}<div class="sixteen columns">{% endif %}
            <div class="slider flexslider homepage_slider">
              <ul class="slides">
                <li {% if block.settings.image_type == 'background' and block.settings.image != blank %}style="background-image:url({{ block.settings.image | img_url: '2000x' }});background-position:center center;background-size:cover;"{% endif %}>
                  {% if block.settings.link != blank %}
                    <a href="{{ block.settings.link }}">
                  {% endif %}
                  {% if block.settings.image_type == 'normal' %}
                    <img  alt=""
                        src="{{ block.settings.image | img_url: '100x' }}"
                        data-src="{{ block.settings.image | img_url: '2048x' }}"
                        class="lazyload lazyload--fade-in"
                        sizes="100vw"
                        srcset="  {{ block.settings.image | img_url: '2048x' }} 2048w,
                                  {{ block.settings.image | img_url: '1600x' }} 1600w,
                                  {{ block.settings.image | img_url: '1200x' }} 1200w,
                                  {{ block.settings.image | img_url: '1000x' }} 1000w,
                                  {{ block.settings.image | img_url: '800x' }} 800w,
                                  {{ block.settings.image | img_url: '600x' }} 600w,
                                  {{ block.settings.image | img_url: '400x' }} 400w"
                       />
                  
                  {% endif %}

                  {% if block.settings.link != blank %}
                    </a>
                  {% endif %}
                  {% if block.settings.title != blank or block.settings.subtext != blank or block.settings.button_label != blank or block.settings.image_header != blank %}
                    <div class="flex-caption relative-position {% unless block.settings.image != blank %}text-only{% endunless %}">
                      <div class="containers">
                        {% if block.settings.image_absolute != blank %}
                          	<img src="{{ block.settings.image_absolute | img_url: '900x' }}" class="floating-image" />
                          {% endif %}
                        {% if block.settings.video_embed != blank %}
                        <div class="video-block">
                        	<div class="video-container">
                              {{ block.settings.video_embed }}
                        	</div>
                        </div>
                        {% endif %}
                        <div class="columns {% if block.settings.text_position == 'left' %} nine {% elsif block.settings.text_position == 'right' %} eight offset-by-seven {% else %} ten {% endif %} align_{{ block.settings.text_align }}">
                          {% if block.settings.image_header != blank %}
                          	<img src="{{ block.settings.image_header | img_url: '900x' }}" />
                          {% endif %}
                          {% if block.settings.title != blank %}
                            <h1 class="headline">
                              {{ block.settings.title | escape }}
                            </h1>
                          {% endif %}
                          {% if block.settings.subtext != blank %}
                            <div class="subtitle">
                              {{ block.settings.subtext }}
                            </div>
                          {% endif %}
                          {% if block.settings.button_label != blank %}
                            <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="action_button">
                              {{ block.settings.button_label | escape }}
                            </a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </li>
              </ul>
            </div>
          {% if block.settings.image_stretch == false %}</div>{% endif %}
        </section>

      {% endif %}
    </div>
  {% endfor %}
</div>
    </div>
  </div>
</div>
    

    
  </div>

<div class="content container">




<style>
  {% if section.settings.set_product_height %}
    .product_slider .slides img { max-height: {{ section.settings.product_height }}px; }
  {% endif %}

  .sub-footer {
    margin-top: 0;
  }
</style>

{% schema %}
  {
    "name": "28-Day Challenge Jaime",
    "class": "about-28-day-jaime",
    "settings": [
    
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Related products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    }
  ],
  "max_blocks": 16,
  "blocks": [
    {
      "type": "rich_text_and_image",
      "name": "Rich text and image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your brand"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
            {
              "value": "regular_text",
              "label": "Regular"
            },
            {
              "value": "featured_text",
              "label": "Large"
            }
          ],
          "default": "featured_text"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "align_left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Link label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
      ]
    },
  {
      "type": "text_alternating",
      "name": "Text Alternating",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
  		{
          "type": "select",
          "id": "width",
          "label": "Block width",
          "options": [
            {
              "value": "50%",
              "label": "Half"
            },
            {
              "value": "100%",
              "label": "Full"
            }
          ],
          "default": "100%"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your brand"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
  		{
          "type": "richtext",
          "id": "content_2",
          "label": "Text 2",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
            {
              "value": "regular_text",
              "label": "Regular"
            },
            {
              "value": "featured_text",
              "label": "Large"
            }
          ],
          "default": "featured_text"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "align_left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Link label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "image_gallery",
      "name": "Image gallery",
      "settings": [
        {
          "type": "image_picker",
          "id": "page_detail_image_1",
          "label": "Image 1",
          "info": "760 x 500px wide recommended"
        },
        {
          "type": "image_picker",
          "id": "page_detail_image_2",
          "label": "Image 2",
          "info": "760 x 500px wide recommended"
        },
        {
          "type": "image_picker",
          "id": "page_detail_image_3",
          "label": "Image 3",
          "info": "760 x 500px wide recommended"
        }
      ]
    },
    {
      "type": "image_with_text",
      "name": "Image with text",
      "settings": [
        {
          "type": "select",
          "id": "grid_layout",
          "label": "Layout",
          "options": [
            {
              "value": "standard",
              "label": "Standard"
            },
            {
              "value": "full-width",
              "label": "Full width"
            }
          ]
        },
        {
          "type": "select",
          "id": "grid_text_position",
          "label": "Text position",
          "options": [
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "left",
              "label": "Left"
            }
          ]
        },
        {
          "type": "select",
          "id": "frontpage_text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1000 x 400px recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View all"
        }
      ]
    },
    {
      "type": "image_with_text_overlay",
      "name": "Image with text overlay",
      "settings": [
        {
          "type": "checkbox",
          "id": "image_stretch",
          "label": "Stretch to full screen width",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1600 x 600px recommended"
        },
  		{
          "type": "radio",
          "id": "image_type",
          "label": "Image type",
          "options": [
            {
              "value": "background",
              "label": "Background"
            },
            {
              "value": "normal",
              "label": "Normal image"
            }
          ]
        },
  		{
          "type": "text",
          "id": "video_embed",
          "label": "Video Embed"
        },
  		{
          "type": "image_picker",
          "id": "image_header",
          "label": "Image Header"
        },
  		{
          "type": "image_picker",
          "id": "image_absolute",
          "label": "Floating Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Page Details Template"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "label": "Subheading",
          "default": "<p>This is a short subheading for your banner image</p>"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider",
      "settings": [
        {
          "type": "paragraph",
          "content": "Add spacing in between your sections by using a divider."
        },
        {
          "type": "range",
          "id": "divider_spacing",
          "min": 0,
          "max": 30,
          "step": 5,
          "unit": "px",
          "label": "Spacing",
          "default": 20
        },
        {
          "type": "checkbox",
          "id": "divider_border",
          "label": "Show border",
          "default": false
        }
      ]
    }
  ],
  "default": {
    "settings": {
    },
    "blocks": [
      {
        "type": "rich_text_and_image",
        "settings": {
          "title": "This is an example headline",
          "content": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer tincidunt. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Suspendisse potenti.</p>",
          "text_alignment": "center",
          "button_label": "Button"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_with_text_overlay",
        "settings": {
          "title": "Your Headline",
          "subtext": "<p>Customize this section</p>",
          "button_label": "Button"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_gallery",
        "settings": {
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      },
      {
        "type": "image_with_text",
        "settings": {
          "title": "Headline",
          "text": "<p>Vestibulum fringilla pede sit amet augue. Pellentesque habitant morbi tristique senecrutrum eu, nisl.</p>",
          "button_label": "Button",
          "frontpage_text_align": "left"
        }
      },
      {
        "type": "divider",
        "settings": {
        }
      }
    ]
  }
}
{% endschema %}
